.header-one {
    border: 1px solid #80cbc4;
    padding: 5px;
    color: #00695c;
    border-color: #00695c;
    background-color: #80cbc4;
    border-radius: 5px;
}

.header-two {
    color:blueviolet;
}

.todoapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.App {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient( 135deg, #79F1A4 10%, #0E5CAD 100%);
    
}


.glass {
   
  }
